# About the notebook

In [1]:
import numpy as np
import sci
import pandas as pd
import os
import re

dat_dir = "/data/clintko/SMPK"

In [2]:
dat_mpsk_raw     = pd.read_csv(os.path.join(dat_dir, "ep8cs_dat_raw.txt"),          sep = "\t")
dat_mpsk_cal_tmp = pd.read_csv(os.path.join(dat_dir, "ep8cs_dat_cal_prior05.txt"),  sep = "\t")

In [3]:
dat_mpsk_raw.head()

,sample,FSC-A,SSC-A,Aqua,CD3,CD4,CD8,TNFa,IL2,IFNg,CD107a
0,1,-1.141636,-0.099866,-0.421067,0.776101,2.273135,0.644450,-0.193783,-0.020157,-0.273449,0.607103
1,1,-0.840589,-0.738581,1.240796,-0.422247,-0.565880,0.655721,-0.611852,-0.023774,-0.349649,-0.037570
2,1,0.510718,-0.846094,-1.059825,-0.366179,-0.588925,-1.852735,-1.184041,-0.034473,-0.425907,-0.026722
3,1,-1.568180,-0.579970,-0.558817,0.231985,1.841521,-0.150230,-0.559565,0.021467,-0.510098,-0.013919
4,1,-1.537123,0.324638,-0.253565,-0.677213,2.087219,-1.316632,-0.645375,-0.221684,-0.888717,0.150537

In [ ]:
dat_mpsk_raw.head()

In [4]:
dat_mpsk_cal_tmp.head()

,sample,cluster,FSC-A,SSC-A,Aqua,CD3,CD4,CD8,TNFa,IL2,IFNg,CD107a
0,1,3,-0.984232,-0.161793,-0.795521,0.713207,2.010627,0.564378,-0.290900,-0.392517,-0.209603,0.400672
1,1,5,-0.806029,-0.721101,1.093921,-0.757240,-0.933950,0.745651,-0.546634,-0.619454,-0.294870,-0.262249
2,1,4,0.752691,-0.797409,-1.390246,-0.576103,-0.975066,-2.113992,-0.854902,-0.749277,-0.306364,-0.091301
3,1,3,-1.410775,-0.641897,-0.933270,0.169091,1.579013,-0.230303,-0.656682,-0.350893,-0.446252,-0.220351
4,1,3,-1.379718,0.262711,-0.628019,-0.740107,1.824712,-1.396704,-0.742492,-0.594044,-0.824871,-0.055895